h1{
    text-align: center;
}

#login>.form-group{
    margin-top: 2em;
}

#echo{
    text-align: center;    
}

#f_password, #login{
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
} 

#label_user{
    margin-right: 11em;
}

#label_password_inlogin{
    margin-top: 1em;
    margin-right: 9.5em;    
}

#label_sq{
    margin-top: 1em;
    margin-right: 6.5em; 
}

#label_sa{
    margin-top: 1em;
    margin-right: 11em;
}

#label_password{
    margin-top: 1em;
    margin-right: 7em;
}

#label_newpassword{
    margin-top: 1em;
    margin-right: 7.5em;    
}

#label_repassword{
    margin-top: 1em;
    margin-right: 5.5em;
}


#login_button, #confirm_button, #reset_pws_button, #forgot_back{
    height: 3em;
    width: 11em;
    margin-top: 1.1em;
    margin-bottom: 1em;
}

textarea, input{
    width: 15em;
}
