h1{
    text-align: center;
}

#echo{
    text-align: center;    
}

#f_password, #login{
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
} 

#label_user{
    margin-right: 8.5em;
}

#label_password{
    margin-top: 1em;
    margin-right: 7em;
}

#label_newpassword{
    margin-top: 1em;
    margin-right: 5em;    
}

#label_repassword{
    margin-top: 1em;
    margin-right: 3em;
}

#label_email{
    margin-top: 0.5em;
    margin-right: 9.5em;
}

#login_button, #reset_pws_button, #forgot_back{
    height: 3em;
    width: 11em;
    margin-top: 1em;
    margin-bottom: 1em;
}
