.sideNav{
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
    background: beige;
}

.sideNav a, .dropdown-btn {
  text-decoration: none;
  font-size: 20px;
  display: block;
  width:100%;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid black;
}

li.dropdown-btn:hover ul.dropdown-container{
    display: block;
}

.sideNav a:hover, .dropdown-btn:hover {
  background-color: #EEEEEE;
  color: black;
}

.active {
  background-color: #377BB5;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #377BB5;
}

.dropdown-container a{
    color: white;
}

.btm-menu{
    width: 15%;
    position: fixed;
    bottom: 0;
    left: 0;
}