/* General Styling */
/* Hide horizontal scroll bar */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

h1, h2{
    text-align: center;
} 

#npage{
    text-align: center;  
} 

/* 
#stock_add_button{
    margin-top: 2em;
}

#stock_add_buttons>a:hover{
	font-weight: bold;
	border: 3px solid black;
} 
*/

/* Styling for form in the stock management module */
#itemName, #itemType, #itemDesc{
    width: 35em;   
}

#itemName, #itemType{ 
    height: 2em;
}

#itemDesc{
    height: 13em;
}

#itemBPrice, #itemSPrice{
    width: 10em;
    margin-left: .5em;
}

#itemBPrice{
    margin-right: .5em;
}

#itemQuantity{
    margin-left: .5em;
}

/* General styling for all forms from modules developed by Nicholas Richard */
#nform{
    border: 1px solid black;
    border-radius: 25px;
    margin: 1em;
    margin-right: 2.5em;
}

#nform>.row>.col-md-12{
    margin: 5px auto;
}

#setting_change, #formSubmit_change, #formSubmit_back{
    height: 3em;
    width: 10em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    
    border: 2px solid black; 
    background-color: white;
    
    text-decoration: none;    
    color: black;
}

#formSubmit_back{
    padding: 0.8em 3em;
    margin-left: 2em;  
}

#setting_change:hover, #formSubmit_change:hover, #formSubmit_back:hover{
    border: 2px solid grey;
    color: grey;
    text-decoration: underline;    
}

#add_link, #display_link{
    border: 2px solid black;
    border-radius: 25px;
    padding: 0.5em;
    
    text-decoration: none;
    color: black;
}

#display_link{
    margin-right: 2em;
}

#add_link:hover, #display_link:hover{
    border: 3px solid grey;
    color: grey;
    text-decoration: underline;
}

#delete_link{
    background-color: white;
    text-decoration: none;
    border: none;
    color: #0000EE;
    padding: 0;
}

#delete_link:hover{
    text-decoration: underline;
}

/*a, button, table{
    border-radius: 15px;
}

table{
    z-index: 1;
    box-shadow: 5px 5px 5px #888888;
}*/

.tab-content>.tab-pane {
    color: black;
    background-color: transparent;
}

div.tab-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}